.flex {
    display: flex;
}

.grid {
    display: grid;
}

.justify-center {
    justify-content: center;
}

.alighn-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.font {
    font-family: Netflix Sans,
        Helvetica Neue,
        Segoe UI,
        Roboto,
        Ubuntu,
        sans-serif;
}

.positionR {
    position: relative;
}

.positionA {
    position: absolute;
}